#AddCartContainer {
  padding: 0px 0px;
  margin: 0px 0px;
  width: 45px;
  height: 45px;
}
#AddCartImg {
  object-fit: fill;
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 0px 0px 0px #bde5e3;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
#Counter {
  display: flex;
  width: 1rem;
  height: 1rem;
  box-sizing: border-box;
  font-size: 0.7rem;
  background-color: white;
  position: absolute;
  color: #349590;
  bottom: 1.2rem;
  left: 1.2rem;
  bottom: 24px;
  left: 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0px;
}
